.project-card {
    display: block;
    width: 95%;
    margin: 1vh 2.5vw 1vh 2.5vw;
    text-decoration: none;
    padding-bottom: 3vh;
    padding-left: 1vw;
    background-color: $gray;
    border-radius: 5px;
    transition: all 0.4s ease-in-out 0s;

    @media (min-width: $screen-sm) {
        padding-bottom: 5vh;
        padding-right: 1vw;
        width: 90%;

        &:hover {
            transform: scale(1.07);
        }
    }

    &__name {
        font-size: 22px;
    }

    &__icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}