.page {
    background-color: $gray-base;
    display: grid;
    grid-template-areas: 
        "logo title nav"
        "content content content"
        "footer footer footer";

    @media (min-width: $screen-xs) {
        grid-template-areas: 
        "logo title nav"
        ". content ."
        "footer footer footer";
    }
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: calc(100vh - 20px);

    &__header__logo {
        grid-area: logo;
    }

    &__header__title {
        grid-area: title;
        text-align: center;
    }

    &__header__nav {
        grid-area: nav;
    }

    &__main {
        grid-area: content;
    }

    &__footer {
        grid-area: footer;
    }
}