.page {
    background-color: $gray-base;
    display: grid;
    grid-template-areas: 
        "logo"
        "title"
        "nav"
        "content"
        "footer";

    grid-template-rows: auto auto auto 3fr auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    height: calc(100vh - 20px);

    &__header__logo {
        grid-area: logo;
    }

    &__header__title {
        grid-area: title;
        text-align: center;
    }

    &__header__nav {
        grid-area: nav;
    }

    &__main {
        grid-area: content;
    }

    &__footer {
        grid-area: footer;
    }

    @media (min-width: $screen-sm) {
        grid-template-areas: 
        ". content"
        "logo content"
        "title content"
        "nav content"
        ". content";

        grid-template-rows: 1fr auto auto auto 1fr;
        grid-template-columns: 20% auto;
        grid-gap: 10px;
        height: calc(100vh - 20px);

        &__footer {
            grid-area: content;
        }
    }
}