.page {
    font-family: sans-serif;
    background-color: $gray-base;
    display: grid;
    grid-template-areas: 
        "logo"
        "title"
        "nav"
        "content"
        "footer";

    grid-template-rows: auto auto auto 3fr auto;
    grid-template-columns: 1fr;
    min-height: calc(100vh);

    &__header__logo {
        grid-area: logo;
        text-align: center;
    }

    &__header__content {
        grid-area: title;
        text-align: center;
    }

    &__header__nav {
        grid-area: nav;
    }

    &__main {
        grid-area: content;
    }

    &__footer {
        grid-area: footer;
    }

    @media (min-width: $screen-sm) {
        grid-template-areas: 
        ". content"
        "logo content"
        "title content"
        "nav content"
        ". content"
        ". footer";

        grid-template-rows: 1fr auto auto auto 1fr auto;
        grid-template-columns: 20% auto;
    }
}