.nav {
    list-style: none;
    padding: 0;
    text-align: center;
    text-transform: uppercase;

    &__item {
        margin-top: 1vh;
        a {
            display: block;
            padding: 10px 0px;
            text-decoration: none;
        }
    }
}